<html xmlns:th="http://www.thymeleaf.org">
<head>
		<title> Adresse </title>
		<meta http-equiv="Content-Type"
			content="text/html; charset=UTF-8" />
	    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
			
	</head>
	<body>
	<div th:fragment="header">
		<ul>
			<li>
				<a href="/adresses">les adresses</a>
			</li>
			<li>
				<a href="/greeting">Home</a>

			</li>
			<li>
				<a href="/adresse">Adresse</a>

			</li>
		</ul>
	</div>

<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>